[Unit]
Description=HOMEd ZigBee Service

[Service]
ExecStart=/usr/bin/homed-zigbee
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
