[Unit]
Description=HOMEd ZigBee Service

[Service]
ExecStart=/usr/bin/homed-zigbee
Environment=LD_LIBRARY_PATH=/usr/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
